@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #fafafa;
  --background-color: #09090b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #111827;
    --background-start-rgb: #fafafa;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
